*{
    margin 0 auto;
   
} 
body{
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    border: 2px solid green;
}
#main-container{
    width: 80%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-bar nav{
    display: inline;
    justify-content: space-evenly;
    height: 80px;
    /* position: sticky;
    top: 0; */
    width: 100%;
    padding-bottom: 15px;
}
nav a{
    padding-left: 13.3%;
    padding-right: 13.3%;
    text-decoration: none;
    font-size: larger;
    background-color: rgb(217, 216, 214);
}
.home{
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
}
.home h1{
    margin-top: 150px;
}
.home img{
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border-radius: 180px;
}
.home input{
    width: 210px;
    height: 30px;
    border-radius: 12px;
    margin-top: 8px;
}

/* Description */
.description{
    text-align: center;
    font-size: larger;
}
.description h3{
    margin-top: 50px;
}
.description p{
    padding-top: 20px;
}
/* Best Selling */
.seller-card{
    padding-top: 30px;
}
.best-seller h2{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.group-card{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.card01{
    height: 350px;
    border: 2px solid black;
    background-color: beige;
    border-radius: 10px;
    padding-bottom: 10px;
}
.card01 img{
    border-radius: 5px;
    filter: opacity(0,9);
}
.group-card h1{
    position: relative;
    top: -140px;
    background-color: rgb(188, 176, 176);
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: larger;   
}
.card01 button{
    background-color: rgb(188, 176, 176);
    width: 100px;
    height: 30px;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    top: -120px;
}
.card01 button:hover{
    background-color: rgb(170, 170, 233);
    border-radius: 5px;
}

/* Books */
#books h1{
    font-size: xx-large;
    font-weight: bolder;
}
.card-group{
    display: flex;
}
#Books{
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
    font-size: x-large;
}
.card-group{
    width: 100%;
    height:410px;
    padding: 30px;
    border-radius: 10px;
}
.card img{
    width: 260px;
    padding-left: 3.33px;
    height: 290px;
    border: 2px solid black;
    border-radius: 10px;
}
.card{
    width: 30%;
    padding-left: 3%;

}
.card-body .card-title{
    text-align: center;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: gray;
    border: 1px solid black;
    width: 265px;
}
.card button{
    background-color: rgb(188, 176, 176);
    width: 100px;
    height: 30px;
    display: block;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
}
.card button:hover{
    background-color: rgb(170, 170, 233);
    border-radius: 5px;
}
/* COnnect with us */
.connect-with-us{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.connect-with-us{
    margin-top: 50px;
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.connect-with-us h2{
    padding-bottom: 20px;
}
.connect-with-us img{
    width: 40px;
    background-color: rgb(217, 216, 214);
}
/* Footer */
footer{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: larger;
}