*{
    margin 0 auto;
    /* background-image: url(./Assets/Background/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
body{
    display: flex;
    justify-content: center;
    height: auto;
    width: 80%;
    align-items: center;
    border: 2px solid green;
}